









@media (max-width: 992px) {

.header{
  display: none;
}

.mobile-header {
  display: block;
  position: fixed;
  width: 100%;
  background-color: #fff;
  z-index: 9999;
  box-shadow: 5px 6px 60px rgba(17, 29, 59, 0.04);
}




#offcanvas-nav .m-nav {
  position: fixed;
  height: 100%;
  z-index: 9999;
}



 }


 @media (max-width: 1024px) {
  .grid-sizer,.grid-item {
    width: calc(50% - 20px);
  }
}
@media (max-width: 446px) {
  .grid-sizer,.grid-item {
    width: 100%;
  }
}






 @media(max-width:575.96px){

 }
 
 
/*  
 @media(min-width:576px) and (max-width:767.98px){
 
 
 } */
 
 
 
  @media(max-width:767px){


    .customers .customer-head-inner .customer-head-innner-df .customer-head-inner-text h4 {
      font-size: 22px;
  }
    
    .container{
      width: 100%;
      padding: 0 20px;
    }

    .error-img img{
      width: 100%;
    }

    .error {
      padding: 60px 0 60px 0;
  }

  .error-text h2 {
    font-size: 38px;
}

    .banner {
      padding-top: 50px;
      padding-bottom: 50px;
  }

  .official-btn .official-btn-left .f-b-text {
    width:100%;
}

.contuict-me-main {
  display: contents;

}

.contuict-me-main::after {
display: none;
}

.contact-me {
  padding: 60px 0 0 0;
  margin-bottom: -17px;
}

  .inner-bg {
    padding: 115px 0 60px 0;
}



  .freelance-item {
    margin-top: 40px;
    display: flex;
    gap: 60px;
    flex-wrap: wrap;
}

.freelance-item .freelance-img::before {
display: none;
}

.freelance-item {
  margin-top: 40px;
  display: flex;
  gap: 28px;
  flex-wrap: wrap;
  justify-content: center;
}


.protfolio-item ul li {

  margin-bottom: 20px;
}

.resume-skill {
  align-items: center;
  display: flex;
  gap: 81px;
  margin-top: 50px;
  padding-bottom: 7px;
}

  .banner-text h1 {
    font-size: 35px;
    line-height: 50px;
    text-align: center;
}

.banner-text p {
  font-weight: 400;
  font-size: 16px;
  line-height: 155%;
  padding-top: 15px;
  text-align: center;
  margin: 0;
}

.banner-two .banner-btn-text {
  margin-top: 40px;
}

.skills {
  padding: 60px 0;
}

.customer-head h2 {
  font-size: 38px;
  line-height: 55.2px;
}

.customer-head {
    text-align: center;
    margin-top: 40px;
}

.customers .customers-item .customers-inner .customers-img img {

  width: 87%;
}

.customers .customer-head {
  margin-top: 50px;
}


.customers .customer-head h2 {
  font-size: 25px;
}

.banner-btn-item {
  display: flex;
  gap: 36px;
  justify-content: center;
}

.blog .blog-head h2 {
  font-size: 32px;
  padding: 0 0;
}

.blog .blog-top {
  margin-top: 30px;
}

.send .send-item .send-btn {
  text-align: center;
}

.banner-img img{
  width: 100%;
}

.banner-img .banner-item {
  position: unset;
}


.banner-btn-left .btn-style-1 {
    width: 120px;
}

.service {
padding: 0px 0 60px 0;
}

.customers {
padding: 60px 0;
}


.customers {
    padding: 60px 0 0 0 !important; 
}

.banner-text {
    margin-top: 60px;
}

.banner-two .banner-btn-text h4 {
  font-size: 16px;
}

.resume {
  padding: 0px 0 60px 0;
}

.resume-head-left{
  display: none;
}

.resume-head {
  justify-content: center;
}


.resume-head-p p {
  text-align: center;
}

.experience .experience-inner {
  padding: 0 0 17px 0;
  justify-content: center;
}

.resume-main {
  padding: 60px 60px 51px 60px !important;
}


.footer-three {
  padding: 60px 0 0 0;
}

.experience-text{
  text-align: center;
}

.tools-btn {
  margin-right: 0;
}

.resume-taitel {
  margin-bottom: 20px;
}

.experience .experience-inner .experience-btn a {
display: none;
}

.experience .experience-inner-two .experience-btn a {
  display: none;
}

.skill-btn {
  gap: 28px;
}


.tools-btn {
  display: flex;
  gap: 23px;
  justify-content: center;
}

.freelance-head h3 {
  text-align: center;
}

.tab-item {
  margin-top: 20px;
}

.service-head h2 {
  font-size: 32px;
  text-align: center;
}


.service-vic{
  display: none;
}

.service-item {
  margin-bottom: 30px;
}

.customers-item .customers-inner .customers-img {
  display: flex;
  justify-content: center;
}

.Product {
    padding: 60px 0;
    margin-top: 0;
}



.customer-head-inner-left img{
  display: none;
}

.Project {
 display: none;
}


.Product-item {
  position: relative;
  margin-top: 30px;
}

.faq{
  width: 100%;
}


.accordion-button {
  font-size: 16px;
}


.send{
  margin-top: 50px;
}


.blog-head h2 {
  font-size: 32px;
  padding: 0 0;
}

.blog {
  padding: 50px 0;
}

.skill-text h2 {
  font-size: 32px;
  text-align: center;
  line-height: 42.2px;
}

.skill-right{
  margin-top: 25px;
  text-align: center;
}

.skill-rigght-btn {
text-align: center;
}


.service-item .service-item-text h3 {
  font-size: 24px;
}


.footer-logo-item {
  border-right: 1px solid transparent;
  padding-right: 0;
  text-align: center;
}

.footer-logo-icon {
  display: flex;
  justify-content: center;
}

.footer-link-df {
  border-right: 1px solid transparent;
  text-align: center;
  margin-top: 40px;
}

.footer-services-df {
  border-right: 1px solid transparent;
  text-align: center;
  margin-top: 40px;
}

.official{
  margin-top: 40px;
  text-align: center;
}









.official-inner {
  display: flex;
  gap: 8px;
  justify-content: center;
}

.official-inner .text a {
  font-size: 16px;
}

.about {
padding: 60px 0;
}

.copyright {
  margin-top: 70px;
}

.official-btn {
  display: flex;
  justify-content: center;
}

.thought-vic{
  display: none;
}

.thought-text h2 {
  font-size: 32px;
  text-align: center;
}

.blog-item .blog-inner .blog-inner-text a {
  font-size: 14px;
  line-height: 150%;

}
footer {
  padding-top: 60px;
}

.thought {
padding: 60px 0;
}

.service-text{
  padding-top: 20px;
  text-align: center;
}





.send .send-item .send-inner {
  display: inline-grid;
  gap: 20px;
  width: 100%;
}


/* home-page-2  */

.banner-two .banner-text h1::before {
display: none;
}


.course-filter {
  display: flex;
  flex-wrap: wrap;
}

.banner-two {
  padding: 60px 0 0px 0;
}

.banner-two .banner-btn-text h4 span {
  font-size: 27px;
}

.banner-img{
  margin-top: 70px;
}


.slick {
 
  padding: 0px 0 0 0;
}


#tab {
  padding: 60px 0 60px 0;
}


.tab-head h2 {
  font-size: 32px;
}

.tab-head h2::after {
display: none;
}

.featured-item{
  margin-bottom: 30px;
}

.resume-head .resume-head-left h5 {
  font-size: 11px;
}

.resume-head .resume-head-left p {
  font-size: 10px;
}





.inner-bg-head h1 {
  font-size: 40px;
}

.product-box .product-sarch .product-btn .product-btn-left .p-b-text {
    width: 210px;
}

.product-box .product-sarch .product-btn .product-btn-right a {
    width: 93px;

}

.product-box {
    display: flow-root;
    justify-content: space-between;
}

.product-box .product-sarch {
    display: flow-root;
   
}

.results {
    text-align: center;
    margin-top: 20px;
}

.product-box .product-grid {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.product {
    padding: 60px 0 60px 0;
}


.tab-item .tab-img .tab-img-overlay .tab-img-overlay-text p::before {
display: none;
}
.tab-item .tab-img .tab-img-overlay .tab-img-overlay-text h5::before {
  display: none;
}

.accordion-header h3{
  font-size: 18px;
}
.accordion-header {
  font-size: 19px;
}


.accordion-body p{
  font-size: 14px;
}

h2 {
  text-align: center;
}

.Product-top {
  margin-top: 0;
}


.blog .blog-item .blog-inner .blog-inner-text a {
  font-size: 20px;

}

.skills .skill-text h2 {
  font-size: 33px;
  line-height: 43.2px;
}

.skills .skill-right p {
  font-size: 19px;
}



.contuict-me-main .contact-me-item .contact-me-inner{
  display: block;
  text-align: center;
  margin-bottom: 40px;
}
.contuict-me-main .contact-me-item .contact-me-inner .icon {
  margin-bottom: 20px;
}


.customers .coustomers-text h2 {
  line-height: 40px;
}


.service-two .service-item-two {
  margin: 0 0 30px 0;
}


.customers {
  padding:  0 0 60px 0 !important;
}

.experience{
  margin-top: 30px;
}

.resume-skill {
   display: block;
}

.resume-skill{
  display: none;
}

.skill-btn{
  display: none;
}


.product-head h2 {
  font-size: 30px;
  line-height: 48px;
}


.official {
  padding-left: 0;
}

.text p {
  font-size: 14px;
}


.customers .coustomers-text {
  margin-top: 50px;
}


.service-head {
  padding: 30px 0 0 0;
}

.protfolio {
  padding: 30px 0 0 0;
  background-color: #050F25;
}










 
 } 
 
 
 @media(min-width:768px) and (max-width:991.98px){
  
  .protfolio-item {
    text-align: center;
    margin-bottom: 20px;
}
  .banner {
padding: 80px 0;
}

.contuict-me-main {
  padding: 60px 50px 60px 50px;
}

.contuict-me-main::after {
display: none;
}

.inner-bg {
  padding: 138px 0 80px 0;
}



.freelance-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.resume-skill {
  display: flex;
  gap: 0;
  justify-content: space-between;
}

.tools-btn {
  margin-top: 74px;
  margin-right: 0;
}

.skills .skill-rigght-btn {
  text-align: center;
}

.banner-btn-item {
  display: flex;
  justify-content: center;
}

.banner-img .banner-item {
  position: unset;
}

.about {
padding: 80px 0;
}

.Product {
padding: 60px 0;
margin-top: 0;
}




.thought {
 padding: 80px 0;
}

.blog {
  padding: 80px 0;
}

.footer {
  padding-top: 80px;
}

.banner-img img{
  width: 100%;
}

.blog-inner-text{
  margin-top: 15px;
}

.blog-item .blog-inner .blog-inner-text a {
  font-size: 16px;
  line-height: 150%;
}

.banner-text h1 {
  font-weight: 700;
  font-size: 54px;
  line-height: 70px;
}
.banner-text {
  text-align: center;
  margin-top: 50px;
}


.banner-two .banner-text h1::before {
display: none;
}


.banner-two .banner-btn-text {
  margin-top: 30px;
  text-align: center;
  padding-bottom: 40px;
}


.tab-head h2::after {
    right: 64px;
}


.tab-item {
  margin-top: 20px;
}


.customers .customers-item .customers-inner .customers-img img {
  width: 80%;
}

.service-head h2 {
  text-align: center;
}
.service-text p {
  text-align: center;
}
.service-vic {
  display: none;
}
.service {
  padding: 90px 0 0 0;
}

.customer-head-inner-left{
  display: none;
}

.Project {
  display: none;
}

.blog .blog-head h2 {
  padding: 0 0;
}

.blog .blog-vic {
display: none;
}

.thought-text h2 {
  font-size: 48px;
}

.thought-vic {
 display: none;
}

.faq {
  width: 100%;
}

.send{
  margin-top: 50px;
}


.blog-head h2 {
  padding: 0 74px;
}

.blog-vic {
  position: absolute;
  bottom: 5px;
  right: 286px ;
  z-index: -1;
}

.footer-logo-item {
  border-right: 1px solid transparent;
  padding-right: 0;
}

.footer-link-df {
  border-right: 1px solid transparent;
  display: flex;
  justify-content: center;
}

.footer-services-df {
  border-right: 1px solid transparent;
  display: flex;
  justify-content: start;
  margin-top: 50px;
}

.official{
  margin-top: 50px;
}

.copyright {
  margin-top: 70px;
}



/* banner-two  */

.banner-two {
  padding: 0 0 80px 0;
}



.service-two .service-item-two {
  margin-bottom: 20px;
}


.product-box .product-sarch .product-btn .product-btn-left .p-b-text {
    width: 199px;
}


.product-box .product-sarch .product-btn .product-btn-right a {
    width: 100px;
}



.product {
    padding: 80px 0 80px 0;
}

.customers {
  padding: 80px 0 80px 0;
}

.customers .customer-head {
  margin-top: 50px;
}
 

.tab-item .tab-img .tab-img-overlay .tab-img-overlay-text p::before {
  left: 108px;
}


.tab-item .tab-img .tab-img-overlay .tab-img-overlay-text h5::before {
  left: 106px;
}





.container {
  width: 100%;
  padding: 0 20px;
}

.official-btn .official-btn-left .f-b-text {
  width: 200px;
}

.service-btn {
  padding-top: 0px;
}

.banner-img{
  margin-top: 60px;
}

.customers {
  padding: 80px 0 96px 0 !important;
}


.skills .skill-text h2 {
  line-height: 56.2px;
  padding-right: 164px;
}

.skills .skill-right p {
  padding-top: 30px;
  padding-right: 160px;
}


.contuict-me-main .contact-me-item .contact-me-inner {
  display: block;
  text-align: center;
}

.thought-text{
  display: none;
}

.skills {
  margin-top: 30px;
}
.service-two{
  padding: 0;
}





.skills-three{
  margin: 0;
 }


.service-two{
  padding-bottom: 80px;
}





 }

 
 
 @media(min-width:992px) and (max-width:1199.98px){

  .banner-img img{
    width: 100%;
  }



  .freelance-item {
    gap: 26px;
}

.protfolio-item ul li {
  padding: 40px 0;
}

  .menu-bg .nav-main .menu ul {
    gap: 25px;
}

.menu-bg .nav-main .menu-main {
    gap: 18px;
}

  .banner {
padding: 220px 0 66px 0;
}

  .banner-img .banner-item {
    position: unset;
}
  .banner-text h1 {
    font-size: 50px;
    margin-bottom: 0;
    line-height: 70px;
}


.banner-two .banner-text h1::before {
  top: 178px;
  left: 3px;
  width: 398px;
  height: 8%;
}

.tab-head h2 {
  font-size: 42px;
}
.tab-head h2::after {
  right: 16px;
  width: 198px;
}


.blog .blog-item .blog-inner .blog-inner-text a {
    font-size: 20px;
}


.blog {
    padding: 100px 0 100px 0;
}



.service-head h2 {
  font-size: 40px;
}

.service-vic {
  position: absolute;
  top: -10px;
  right: -1px;
  z-index: -1;
}

.service-item .service-item-text h3 {
  font-size: 23px;
}

.service {
  padding: 100px 0;
}

.customers .customer-head-inner .customer-head-innner-df .customer-head-inner-text h4 {
  font-size: 20px;
}

.skills .skill-text h2 {
    font-size: 40px;
    line-height: 55.2px;
}

.service-two .service-item-two .service-item-text h3 {
  font-size: 20px;
}

.tools-btn {
  margin-right: 0;
}


.customer-head-inner .customer-head-innner-df .customer-head-inner-text h4 {
  font-size: 20px;
}
.blog .blog-vic {
    right: 300px;
}

.blog-three .blog-head h2 {
  padding: 0 0;
}

.blog-three .blog-item .blog-inner .blog-inner-text a {
  font-size: 20px;
}

.faq {
  width: 100%;
}

.blog-head h2 {
  padding: 0 210px;
}

.blog-vic {
  position: absolute;
  right: 346px;
}

.blog-item .blog-inner .blog-inner-text{
  margin-top: 15px;
}

.blog-item .blog-inner .blog-inner-text a {
  font-weight: 600;
  font-size: 15px;
  line-height: 144%;
}

.skill-text h2 {
  font-size: 37px;
  line-height: 55.2px;
}

.official-btn .official-btn-left .f-b-text {
  width: 125px;
}

.official-btn .official-btn-right a {
  padding-left: 7px;
  padding-right: 13px;
}


.official-btn .official-btn-right {
  width: 95px;
}

.Product {
padding: 80px 0;
margin-top: 0;
}

.thought-text h2 {
  font-size: 40px;
}

.thought-vic {
  position: absolute;
  right: -15px;
  top: 0px;
  z-index: -1;
}

.send .send-item .send-inner {
  display: grid;
  gap: 20px;
}

.accordion-button {
  font-size: 20px;
}
.thought {
  padding: 0px 0 120px 0;
  margin-top: 115px;
}

.customers {
  padding: 115px 0 0px 0;
  background: url(../assets/image/others/banner/Customer-bg.png) no-repeat center/cover;
}

.customers .customer-head {
  margin-top: 50px;
}

.tab-item .tab-img .tab-img-overlay .tab-img-overlay-text p::before {
  left: 87px;
}





.container {
  width: 100%;
  padding:0 20px;
}

.copyright {
  margin-top: 80px;
}

.service-btn {
  padding-top: 0px;
}



.fa-solid p{
  font-size: 14px;
}



.thought {
display: none;
}




 }
 
 
 /* @media(min-width:1200px) and (max-width:1399.98px){

 } 
  */
 
 
 @media(max-width:1440px){

.customers {
  padding: 115px 0 0 0;
}



.contuict-me-main .contact-me-item {
  padding-bottom: 30px;
}

.banner-pos img{
  width: 100%;
}

 
 }





 







@media(min-width:1440px) {


.banner-pos img{
  width: 120%;
}




}